/*
@author Reinaldo Cruz

css/cover.css
CSS styling for Cover section elements and components.
*/

.cover-image {
  height: 100vh;
  width: 100vw;
}

.cover-container-title {
  position: absolute;
  width: 100%;
  color: #2c3e50;
  font-weight: 300;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
}

.cover-container-title.name {
  font-size: 30px;
  top: 16%;
}

.cover-container-title.occupation {
  font-size: 15px;
  top:23%;
}

@media (max-width: 334px) {
  .cover-container-title.occupation {
    top: 30%;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  .cover-container-title.occupation {
    top: 35%;
  }
}
