/*
css/about.css
CSS styling for About section elements and components
*/


.education-section.container-header {
  background-color: #f1c40f;
}

.gt-cover-text-wrapper {
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
}

.gt-cover-text {
  position: relative;
  padding-left: 30px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 18px;
}

.gt-text-box {
  background-color: #f1c40f; 
}

.gt-text {
  text-align: left;
  margin: 5% 5% 5% 5%;
}

.gpa {
  display: none;
}

@media (max-width: 350px) { 
  .gpa {
    display: inline;
    font-size:18px;
    position: absolute;
    top:15%;
    left: 60%;
  }
  .gt-paragraph {
    display: none;
  }
}

@media (max-width: 535px) {
    .gt-text > ul {
      display: none;
    }
}

@media (max-width: 735px) {
  .gt-cover-text {
    font-size: 14px;
  }

  .gt-text {
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 20px;
  }

  .text-box {
    vertical-align: top;
  }
}

@media (max-width: 513px) {
  .gt-cover-text {
    font-size: 12px;
    color: #fff;
  }
  .gt-cover-text-wrapper {
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    background-color: rgba(0,0,0,0.5);
  }
}