/*
@author Reinaldo Cruz

css/education.css
CSS styling for Education section elements and components
*/


.education-section.container-header {
  background-color: #f1c40f;
}

.gt-cover-text-wrapper {
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
}

.gt-cover-text {
  position: relative;
  padding-left: 30px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 18px;
}

.gt-text-box {
  background-color: #f1c40f; 
}

.gt-text {
  text-align: left;
  margin: 5% 5% 5% 5%;
}

.course-btn {
  margin-top: 20px;
  color: #fff;
  letter-spacing: 2px;
  background-color: rgba(0,0,0,0.5);
  border-color: black;
}

.course-btn:hover, 
.course-btn:active,
.course-btn:focus
 {
  background-color: rgba(0,0,0,0.75);
  border-color: black;
}

.modal-dialog {
  width: 80%;
}

.modal-header {
  background-color: #f1c40f;
}

@media (max-width: 784px) {
  .gt-cover-text {
    font-size: 14px;
  }

  .gt-text {
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 20px;
  }

  .text-box {
    vertical-align: top;
  }

  .course-btn {
    font-size: 14px;
  }
}


@media (max-width: 593px) {
    .gt-text > ul {
      display: none;
    }
}

@media (max-width: 513px) {
  .gt-cover-text {
    font-size: 12px;
    color: #fff;
  }
  .gt-cover-text-wrapper {
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    background-color: rgba(0,0,0,0.5);
  }
}

@media (max-width: 400px) { 
  .gpa {
    display: inline;
    font-size:18px;
    position: absolute;
    top:15%;
    left: 60%;
  }
  .gt-paragraph {
    display: none;
  }

  .course-btn {
    margin: 0 auto;
    width: 100%;
  }

  .text-box {
    vertical-align: middle;
  }
}