/*
@author Reinaldo Cruz

css/experience.css
CSS styling for Experience section elements and components
*/


.experience-section.container-header {
  background-color: #2ecc71;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 75px auto 0px auto;
}

.lifion-logo {
  height: 20rem;
  width: 20rem;
}