.panel-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.panel-footer a {
  padding-left: 20px;
  padding-right: 20px
}

.div-padding {
  padding-top: 3px;
  padding-bottom: 3px;
}
