body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img {
  border: 0;
  vertical-align: middle;
}

.container {
  width: 100vw;
  max-width:100%;
  min-height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.container-header {
  width: 100%;
  text-align: center;
  padding: 45px 0px 45px 0px;
}

.container-text {
  margin: 0px 0px 0px 0px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #2c3e50;
  line-height: 35px;
}

.two-boxes {
  display: table;
}

.box {
  display: table-cell;
  width: 50%;
}

.box-image {
  width: 100%;
}

.box-text {

}

@media (max-width: 900px) {
  .container {
    min-height: initial;
  }
  .cover-image {
    width: auto;
  }
}

@media (min-aspect-ratio: 16/10) {
  .cover-image {
    height: auto;
    width: 100vw;
    max-width:100%;
  }
}