.navbar .navbar-nav {
    display: inline-block;
    float: none;
    background-color: #2c3e50;
}

.navbar .navbar-collapse {
    text-align: right;
}

.navbar-default {
  background-color: #2c3e50;
  border-color: #1e2a36;
}
.navbar-default .navbar-brand {
  color: #ebf3f6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e2e547;
}
.navbar-default .navbar-text {
  color: #ebf3f6;
}
.navbar-default .navbar-nav > li > a {
  color: #ebf3f6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e2e547;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e2e547;
  background-color: #1e2a36;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e2e547;
  background-color: #1e2a36;
}
.navbar-default .navbar-toggle {
  border-color: #1e2a36;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1e2a36;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ebf3f6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ebf3f6;
}
.navbar-default .navbar-link {
  color: #ebf3f6;
}
.navbar-default .navbar-link:hover {
  color: #e2e547;
}
