/*
css/projects.css
CSS styling for Projects section elements and components
*/


.projects-section.container-header {
  background-color: #e74c3c;
}

.projects-bg-image {
  position: absoulute;
  top: 0;
  left: 0;
}

.projects-container {
  background-color: rgba(0,0,0,0.75);
  position:absolute;    
  left:0%;
  top:0%;
  overflow-y:scroll;
}

.projects-section.entry-text {
  color: white;
  text-align: left;
  max-width: none;
  margin: 30px 30px 30px 30px;
}

.projects-section a {color:#e74c3c;}

