/*
css/projects.css
CSS styling for Projects section elements and components
*/


.projects-section.container-header {
  background-color: #e74c3c;
}

.projects-container {
  background-color: rgba(0,0,0,0.75);
  position:absolute;    
  left:0%;
  top:0%;
  overflow-y:visible;
}

.projects-section.entry-text {
  color: white;
  text-align: left;
  max-width: none;
  margin: 50px 30px 30px 30px;
}

.row-container {
  margin: 70px 10%;
}

.projects-section p {
  margin-bottom: 20px
}

.projects-section a {
  color:#e74c3c;
}


