body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #2c3e50;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.image-container {
  padding-top: 80px;
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  color: #fff;
}

.index-image {
  height: 650px;
  background: url("../img/city.jpg");
}

.about-image {
  background: url("../img/pr.jpg");
  background-size: cover;
  background-position: 50% 20%;
}

.resume-image {
  background: url("../img/tech.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

.index-text {
    position: relative;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 12px;
    margin-top: 110px;
}

.personal-description {
    font-weight: 300;
    font-size: 24px;
}

.full-name {
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;
}

.content-area {
    background-color: #e5e5e5;
    text-align: center;
    width: 100%;
}

.area-heading {
    position: relative;
    display: block;
    color: #4A4A4A;
    font-size: 24px;
    padding: 20px 0;
    margin: 0 auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.left-side {
  float: left;
  display: block;
  width:60%;
}

.right-side {
  float: left;
  display:block;
  width: 40%;
  padding-left: 40px;
}

.thumbnail {
  margin-bottom: 7px;
}

.down-padding {
  padding-bottom: 50px;
}
