body {
  background-color: #B6A887;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.title {
  color: #fff;
  text-align: center;
  font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.icons {
  text-align: center;
}

.icon {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.animate {
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
  border-right: .10em solid gray;
  animation: typing 1.5s steps(30, end), blinking-cursor 1s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from,
  to { border-color: transparent }
  50% { border-color: white }
}