:root {
  --text-color: #f7f7f7;
  --font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
}

body {
  background-color: #B6A887;
}

/*
TODO: lowered top to 45% so title is centered (accounting for sprite)
too lazy right now to arrange the divs
*/
.center {
  position: absolute;
  top: 45%;
  left: 50%;
  -moz-transform: translateX(-45%) translateY(-50%);
  -webkit-transform: translateX(-45%) translateY(-50%);
  transform: translateX(-45%) translateY(-50%);
}

.title {
  color: var(--text-color);
  font-family: var(--font-family);
  text-align: center;
}

.caption {
  color: var(--text-color);
  font-family: var(--font-family);
  text-align: center;
}

.animate {
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
  border-right: .10em solid ;
  animation: typing 1.5s steps(30, end), blinking-cursor 1s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from,
  to { border-color: transparent }
  50% { border-color: var(--text-color) }
}

/* Sprite stylin' */

.sprite-container {
  width: 210px;
  height: 75px;
  overflow: hidden;
}

.sprite {
  animation: moveSpritesheet 2s steps(4) infinite;
}

@keyframes moveSpritesheet {
  from { transform: translate3d(0, 0, 0) }
  to { transform: translate3d(0, -100%, 0) }
}